# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# OS / editors / caches
.DS_Store
Thumbs.db
ehthumbs.db
.eslintcache
.vscode/
.idea/
*.iml
*.swp

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example
.envrc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# generated at runtime
public/config.js

# project
src/components/unused

# mkcert 
localhost+1-key.pem
localhost+1.pem
