.back-icon {
    background-color: #fff;
    border: 1px solid #9b9797;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    align-self: start;
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .back-icon:hover {
    background-color: #f0f0f0;
  }
  .back-icon img{
    width: 20px;
    height: 20px;
  }
  