.left-sidebar {
  flex: 0 1 15%; /* Adjust width as needed */
  background-color: #B6BABB;
  min-height: 100vh;
  margin-bottom: -20px;
}

.right-sidebar {
  flex: 0 1 15%; /* Adjust width as needed */
  background-color: #B6BABB;
  min-height: 100vh;
  margin-bottom: -20px;
}

@media (max-width: 700px) {
  .left-sidebar, .right-sidebar {
    display: none;
  }
}
