.sidebar{
  min-width: 300px;
  max-width: 300px;
  max-height: 100vh;
  background-color: #f4f4f4;
  border-right: solid 1px #a6a5a9;
  overflow: scroll;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
